body{
    background-image: url("imgens/fundo.png");
}
.semaforo{
    height: 100%; 
    display: flex;   
}

#semaforo1{
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
}

#semaforo2{
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    margin-left: 17%;
}
#pedestre1{
    margin-top: 15%;
    margin-left: -38%;
}
#pedestre2{
    margin-top: 15%;
    margin-left: 22%;
}
#sistema{
    margin-top: 32%;
    margin-left: 20%;
}
